@charset "utf-8";
/* CSS Document */

@font-face {
  font-family: 'Questrial';
  font-style: normal;
  font-weight: 400;
  src: local('Questrial Regular'), local('Questrial-Regular'), url('fonts/Questrial-Regular.woff2') format('woff2'), url('fonts/Questrial-Regular.woff') format('woff');
}


* { padding: 0; margin: 0; }
p { margin: 12px 0; }

body { 
	margin: 0; 
	padding: 0;
	background-color: #ffffff; 
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color: #000000;
}


@viewport {
    orientation: landscape;
}

/* CONTENT */
.ui-page{
	width: 1500px;
	height: 100%;
}
.ui-mobile [data-role=page]{
	width: 1500px;
}
.ui-content{
	width: 1500px;
	height: 100%;
	padding: 0px;
	text-shadow: none;
	font-family: Arial, Helvetica, sans-serif;
}
.ui-content p{
	font-size:16px;
}
.ui-content .region-content{
	margin: 0;
	font-size: 18px;
	height: 100%;
}




/* ---------- ACCUEIL GENERAL ---------- */


#page-acc .menu-acc{
	position: fixed;
	z-index: 98;
	top: 0px;
	left: 0px;
	bottom: 0px;
	width: 425px;
	background-color: #4a4949;
}
#page-acc .menu-acc::after{
	content: '';
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: -75px;
	width: 75px;
	background-image: url(../imgs/menu/arrondi.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-size: contain;
}
#page-acc .menu-acc ul{
	margin: 100px 30px 0 20px;
	list-style: none;
	text-align: right;
}
#page-acc .menu-acc a{
	display: block;
	background-image: url(../imgs/menu/picto-1.png);
	background-repeat: no-repeat;
	background-position: 100% 50%;
	font-family: 'Questrial', sans-serif;
	font-size: 24px;
	color: #ffffff;
	font-weight: 400;
	line-height: 28px;
	text-decoration: none;
	padding: 0 85px 0 0;
	margin: 0 0 40px 0;
	height: 64px;
}
#page-acc .menu-acc li.menu-2 a{
	background-image: url(../imgs/menu/picto-2.png);
}
#page-acc .menu-acc li.menu-3 a{
	background-image: url(../imgs/menu/picto-3.png);
}
#page-acc .menu-acc li.menu-4 a{
	background-image: url(../imgs/menu/picto-4.png);
}
#page-acc .menu-acc li.menu-5 a{
	background-image: url(../imgs/menu/picto-5.png);
}
#page-acc .menu-acc li.menu-6 a{
	background-image: url(../imgs/menu/picto-6.png);
}

#page-acc .contenu-acc{
	height: 100%;
	background-image: url(../imgs/accueil/logo-dielna.png);
	background-repeat: no-repeat;
	background-position: 668px 50%;
}

#page-acc .app-version {
    bottom: 10px;
    color: #282828;
    position: absolute;
    right: 10px;
    text-shadow: none;
}


/* ---------- CONTENU ---------- */
.ui-content .entete{
	position: fixed;
	z-index: 98;
	top: 0px;
	left: 0px;
	bottom: 0px;
	width: 75px;
	background-color: #4a4949;
}
.ui-content .entete::after{
	content: '';
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: -75px;
	width: 75px;
	background-image: url(../imgs/menu/arrondi.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-size: contain;
}
.ui-content .entete .titre{
	position: absolute;
	left: 100px;
	top: 16px;
	z-index: 99;
	width: 1100px;
	font-family: 'Questrial', sans-serif;
	font-size: 36px;
	color: #2d2d2c;
	font-weight: 400;
	line-height: 86px;
	padding: 0 0 0 95px;
	background-image: url(../imgs/header/icone-1.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
}

.ui-content .contenu-page .menu-rub{
}
.ui-content .contenu-page .menu-rub a{
	display: block;
	width: 240px;
	height: 240px;
	background-image: url(../imgs/contenu/bg-menu-rond.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	position: absolute;
	font-family: 'Questrial', sans-serif;
	font-size: 24px;
	color: #ffffff;
	font-weight: 400;
	line-height: 28px;
	text-decoration: none;
	text-align: center;
}
.ui-content .contenu-page .menu-rub a.rub-1{
	top: 28%;
	left: 31%;
	padding: 85px 0 0 0;
	height: 155px;
}
.ui-content .contenu-page .menu-rub a.rub-2{
	top: 42%;
	left: 55%;
	padding: 110px 0 0 0;
	height: 130px;
}

.ui-content .contenu-page .marge-contenu{
	margin: 150px 50px 120px 220px;
}
.ui-content .contenu-page .marge-contenu .titre1{
	font-family: 'Questrial', sans-serif;
	font-size: 32px;
	color: #770d0b;
	font-weight: 400;
	line-height: 36px;
	margin: 0 0 40px 0;
}
.ui-content .contenu-page .marge-contenu .liste1 ul{
	margin: 0 0 0 20px;
}
.ui-content .contenu-page .marge-contenu .liste1 ul li{
	font-family: 'Questrial', sans-serif;
	font-size: 22px;
	color: #282828;
	font-weight: 400;
	line-height: 26px;
	margin: 0 0 10px 0;
}
.ui-content .contenu-page .marge-contenu .suite{
	margin: 50px 0 50px 0;
}
.ui-content .contenu-page .marge-contenu a.bt-rouge{
	display: inline-block;
	background-color: #a8090f;
	border: 1px solid #903f3e;
	padding: 0 0px 0 0;
	background-image:-moz-linear-gradient(#e20513, #7b0d0b);
	background-image:-webkit-linear-gradient(#e20513, #7b0d0b);
	background-image:-o-linear-gradient(#e20513, #7b0d0b);
	background-image:linear-gradient(#e20513, #7b0d0b);
	font-family: 'Questrial', sans-serif;
	font-size: 22px;
	color: #ffffff;
	font-weight: 400;
	line-height: 48px;
	text-decoration: none;
	text-align: center;
	padding: 0 20px;
}
.ui-content .contenu-page .marge-contenu a.bt-rouge.bt-retour{
	background-image: url(../imgs/contenu/fleche-retour.png);
	background-repeat: no-repeat;
	background-position: 10px 50%;
	padding: 0 20px 0 40px;
}

.ui-content .contenu-page .marge-contenu .bloc1{
	background-color: #e3e3e3;
	border-radius: 10px;
	padding: 24px 30px;
	margin: 0 0 50px 0;
}
.ui-content .contenu-page .marge-contenu .bloc1-titre{
	font-family: 'Questrial', sans-serif;
	font-size: 24px;
	color: #e30513;
	font-weight: 400;
	line-height: 28px;
	margin: 0 0 10px 0;
}
.ui-content .contenu-page .marge-contenu .bloc1-liste ul{
	margin: 0 0 0 20px;
}
.ui-content .contenu-page .marge-contenu .bloc1-liste ul li{
	font-family: 'Questrial', sans-serif;
	font-size: 22px;
	color: #282828;
	font-weight: 400;
	line-height: 26px;
	margin: 0 0 10px 0;
}
.ui-content .contenu-page .marge-contenu .citation1{
	font-family: 'Questrial', sans-serif;
	font-size: 32px;
	color: #000000;
	font-weight: 400;
	line-height: 38px;
	margin: 30px 0 30px 0;
	background-image: url(../imgs/contenu/citation.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	padding: 0 0 0 60px;
}





/* ---------- POPUP ---------- */
.ui-overlay-f.ui-popup-screen.in{
	background-color: #282828;
	opacity: 0.4;
}
.ui-popup{
	width: 860px;
	border: 1px solid #8a8a8a;
	border-radius: 4px;
}
.ui-popup a.bt-fermer{
	display: block;
	width: 46px;
	height: 47px;
	background-image: url(../imgs/popup/bt-fermer.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	position: absolute;
	top: -20px;
	right: -20px;
}
.ui-popup h2{
	background-image: url(../imgs/popup/bg-titre.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	font-family: 'Lato', sans-serif;
	font-size: 24px;
	color: #ffffff;
	font-weight: 900;
	line-height: 50px;
	margin: 24px 0 28px 0;
	padding: 0 0 0 40px;
}
.ui-popup h2.gris{
	background-image: url(../imgs/popup/bg-titre-gris.png);
}
.ui-popup .descriptif{
	font-family: 'Lato', sans-serif;
	font-size: 24px;
	color: #282828;
	font-weight: 400;
	line-height: 28px;
	margin: 0 30px 30px 40px;
}
.ui-popup .descriptif .ss-titre{
	font-weight: 900;
	margin: 6px 0 0 0;
}
.ui-popup .descriptif ul{
	list-style: none;	
}
.ui-popup .descriptif ul li{
	background-image: url(../imgs/popup/puce-liste.png);
	background-repeat: no-repeat;
	background-position: 0px 7px;
	padding: 0 0 0 20px;
}




/* ---------- FOOTER ---------- */


.ui-content .pied-page{
	position: fixed;
	width: 1500px;
	height: 110px;
	bottom: 0;
	left: 0;
	z-index: 99;
	pointer-events: none;
}
.ui-content .pied-page #fil-ariane{
	position: absolute;
	top: 0px;
	left: 0px;
	pointer-events: auto;
	background-color: #676766;
	border: 1px solid #ffffff;
	border-radius: 0 3px 3px 0;
	padding: 0 0px 0 0;
	background-image:-moz-linear-gradient(#7a7a79, #6b6b6a);
	background-image:-webkit-linear-gradient(#7a7a79, #6b6b6a);
	background-image:-o-linear-gradient(#7a7a79, #6b6b6a);
	background-image:linear-gradient(#7a7a79, #6b6b6a);
	margin: 30px 0 0 120px;
}
.ui-content .pied-page #fil-ariane .liens > div{
	float: left;
	padding: 0 9px 0 26px;
	background-image: url(../imgs/footer/menu-separ.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
}
.ui-content .pied-page #fil-ariane .liens > div.lien-home{
	background: none;
	padding: 0 9px 0 44px;
}
.ui-content .pied-page #fil-ariane .liens > div.lien-home span{
	background-image: url(../imgs/footer/menu-dielna.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	display: block;
	width: 103px;
	height: 103px;
	position: absolute;
	left: -90px;
	top: -35px;	
}
.ui-content .pied-page #fil-ariane .liens a{
	font-family: 'Questrial', sans-serif;
	font-size: 14px;
	color: #ffffff;
	font-weight: 400;
	text-decoration: none;
	display: block;
	height: 38px;
	line-height: 38px;
	padding: 0 0 0 0;
}
.ui-content .pied-page #fil-ariane .liens .lien-suite a{
	font-family: 'Questrial', sans-serif;
	font-size: 14px;
	color: #ffffff;
	font-weight: 400;
}


	

.clear{
	clear:both;
}




